.login-box-outer{
    border: 0.0675em solid black;
    border-radius: 1em;
    box-shadow:0 1px 4px #333;
    background: #F2F2F2;
    font-size: 1.1rem;
}

.login-box{
    margin-bottom:1em;
    display:grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.5em;
}

.login-box span{
    text-align: right;
    align-items: center;

}

.login-button{
    width:100%;

}