.NavBar{
    display: flex;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }
  .TopNav{
    list-style: none;
  }
  .NavBar .leftSide{
    display: flex;
    flex: 50%;
    background-color:#333;
    align-items: center;
     }
  .NavBar .leftSide .navList{
   text-decoration: none;
    cursor: pointer;
   text-align: center;
    }
  .ListStyle{
    display: inline;
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
  }
  .ListStyle:hover{
    background-color: rgb(110, 110, 106);
     }
    
  .NavBar .rightSide{
    display: flex;
    flex:50%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    background-color: #333;
  }
  .NavBar .rightSide .navList{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }
  @media screen and (max-width: 500px) {
    .NavBar .leftSide .ListStyle{ 
      display: block;
      align-items: center;
      text-align: left;
      font-size: smaller;
   
    }
    .NavBar .rightSide .ListStyle{ 
      display: block;
      align-items: center;
      text-align: left;
      font-size: smaller;
      }
  }
  
   